<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5" style="text-decoration: none; color: inherit;">
        {% if item.icon == "envelope" %}
          <i class="fas fa-envelope"></i>
        {% else %}
          <i class="fab fa-{{ item.icon }}"></i>
        {% endif %}
      </a>
      {% endfor %}
    </div>
  </div>
</footer>
