<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <div class="text-center text-md-start">
    <!-- Title and description will stack vertically on small screens -->
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none justify-content-center justify-content-md-start">
      <span class="fs-4 fw-bold">{{ site.title }}</span>
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none justify-content-center justify-content-md-start">
      <span class="text-muted">{{ site.description }}</span>
    </a>
  </div>

  <nav class="d-inline-flex flex-wrap mt-3 mt-md-0 ms-md-auto justify-content-center">
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none text-center" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>