

<div class="row g-5 mb-5">
  <h3 class="fw-bold mb-4">Research</h3>
  <div class="mb-4">
    {{ site.data.research | markdownify }}
  </div>

  <h4 class="fw-semibold mt-4 mb-3" style="font-size: 1.15em;">Publications</h4>
  <ul class="list-unstyled border-bottom">
    {% for paper in site.data.publications.refereed_journal_papers %}
      <li class="pb-3 mb-3 border-bottom">
        {% assign authors = paper.authors | split: "," %}
        {% for author in authors %}
          {% if author contains paper.bold_name %}
            <strong>{{ author | strip }}</strong>
          {% else %}
            {{ author | strip }}
          {% endif %}
          {% if forloop.last == false %}, {% endif %}
        {% endfor %}
        ({{ paper.year }}). <span class="fw-bold">{{ paper.title }}</span>.<br>
        <span class="text-muted">{{ paper.institution }}</span>. <em>{{ paper.journal }}</em>.
        {% if paper.doi %} DOI: <a href="{{ paper.link }}" target="_blank">{{ paper.doi }}</a>{% endif %}.
      </li>
    {% endfor %}
  </ul>

  <h4 class="fw-semibold mt-4 mb-3" style="font-size: 1.15em;">Work In Progress</h4>
  <ul class="list-unstyled border-bottom">
    {% for work in site.data.publications.work_in_progress %}
      <li class="pb-3 mb-3 border-bottom">
        {% assign authors = work.authors | split: "," %}
        {% for author in authors %}
          {% if author contains work.bold_name %}
            <strong>{{ author | strip }}</strong>
          {% else %}
            {{ author | strip }}
          {% endif %}
          {% if forloop.last == false %}, {% endif %}
        {% endfor %}
        <span class="fw-bold">{{ work.title }}</span>.<br>
        <span class="text-muted">{{ work.institution }}</span>.
      </li>
    {% endfor %}
  </ul>

  <h4 class="fw-semibold mt-4 mb-3" style="font-size: 1.15em;">Conference Proceedings</h4>
  <ul class="list-unstyled border-bottom">
    {% for conference in site.data.publications.conference_proceedings %}
      <li class="pb-3 mb-3 border-bottom">
        {% assign authors = conference.authors | split: "," %}
        {% for author in authors %}
          {% if author contains conference.bold_name %}
            <strong>{{ author | strip }}</strong>
          {% else %}
            {{ author | strip }}
          {% endif %}
          {% if forloop.last == false %}, {% endif %}
        {% endfor %}
        ({{ conference.year }}). <span class="fw-bold">{{ conference.title }}</span>.<br>
        <span class="text-muted">{{ conference.institution }}</span>. {{ conference.conference }}.
      </li>
    {% endfor %}
  </ul>
</div>