

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Research</h3>
    <ul class="list-unstyled">
      {% for paper in site.data.publications.publications %}
        <li class="mb-3">
          <!-- Format authors with bold name -->
          {% assign authors = paper.authors | split: "," %}
          {% for author in authors %}
            {% if author contains paper.bold_name %}
              <strong>{{ author | strip }}</strong>
            {% else %}
              {{ author | strip }}
            {% endif %}
            {% if forloop.last == false %}, {% endif %}
          {% endfor %}
  
          ({{ paper.year }}). <span class="fw-bold">{{ paper.title }}</span>.<br>
          <span class="text-muted">{{ paper.institution }}</span>. <em>{{ paper.journal }}</em>.
          {% if paper.doi %} DOI: <a href="{{ paper.link }}" target="_blank">{{ paper.doi }}</a>{% endif %}.
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold mt-5">Work In Progress</h3>
    <ul class="list-unstyled">
      {% for work in site.data.publications.work_in_progress %}
        <li class="mb-3">
          <!-- Format authors with bold name -->
          {% assign authors = work.authors | split: "," %}
          {% for author in authors %}
            {% if author contains work.bold_name %}
              <strong>{{ author | strip }}</strong>
            {% else %}
              {{ author | strip }}
            {% endif %}
            {% if forloop.last == false %}, {% endif %}
          {% endfor %}

          <span class="fw-bold">{{ work.title }}</span>.<br>
          <span class="text-muted">{{ work.institution }}</span>.
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

