---
layout: default
---

{{ content }}


<h3 class="fw-bold border-bottom pb-3 mb-5">Curriculum Vitae</h3>
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <!-- Embed the PDF here -->
    <iframe src="{{ 'https://github.com/apopoola3/anjolapopoola.github.io/blob/main/assets/POPOOLA_CV.pdf' | relative_url }}" width="100%" height="500px" style="border: none;">
      Your browser does not support iframes.
    </iframe>
  </div>
  <div class="col-md-6">
    <h5>About the CV</h5>
    <p>Hi! This is an overview of my professional background, including education, research, publications, and service.</p>
    <p>
      <a href="https://github.com/apopoola3/anjolapopoola.github.io/blob/main/assets/POPOOLA_CV.pdf" 
         target="_blank" 
         class="btn" 
         style="background-color: black !important; color: white !important; border: none; padding: 10px 20px; text-decoration: none; display: inline-block;">
        Download PDF
      </a>
    </p>
  </div>
</div>
