---
layout: default
---

<div class="row g-4 mb-5">
  <div class="col-12 col-md-6">
    <h3 class="fw-bold">About Me</h3>
    {{ content }}

    <p class="mt-3 text-center text-md-start">
      <a href="{{ site.github.url }}/cv/POPOOLA_CV.pdf" target="_blank" class="fw-bold" style="text-decoration: underline;">
        [Curriculum Vitae]
      </a>
    </p>

  </div>
  <div class="col-12 col-md-6 d-flex justify-content-center">
    <img src="{{ site.github.url }}/assets/img/headshot.jpg" alt="Home" class="img-fluid" style="max-width: 80%; margin-left: 20px;">
  </div>
</div>


<div class="row g-4 mb-5">
  <div class="col-12">
    <h4 class="fw-bold border-bottom pb-3 mb-4 text-center text-md-start">Selected Awards and Honors</h4>
    <ul class="list-unstyled">
      {% for award in site.data.settings.awards %}
        <li class="mb-2">
          {% if award.link_url %}
            <a href="{{ award.link_url }}" target="_blank" class="fw-bold">{{ award.title_main }}</a>
          {% else %}
            <span class="fw-bold">{{ award.title_main }}</span>
          {% endif %}
          {% if award.title_linked %}
            <span>{{ award.title_linked }}</span>
          {% endif %}
          {% if award.year %}
            , {{ award.year }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="container">
  <h4 class="fw-bold border-bottom pb-3 mb-4 text-center text-md-start">Updates</h4>
  <ul class="list-unstyled">
    {% for update in site.data.updates.updates %}
      <li class="mb-1">
        <!-- Date in Bold -->
        <strong>{{ update.date }}</strong> - 
        <!-- Text with Link Embedded -->
        {% if update.link_text and update.link_url %}
          {{ update.text | markdownify | replace: update.link_text, "<a href='" | append: update.link_url | append: "' target='_blank'>" | append: update.link_text | append: "</a>" }}
        {% else %}
          {{ update.text | markdownify }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>