---
layout: default
---


<div class="container">

  <!-- Research Section -->
  <h3 class="fw-bold border-bottom pb-3 mb-5">Research</h3>
  <div class="mb-5">
    <p>{{ site.research | markdownify }}</p>
  </div>

  <!-- Publications Section -->
  <h5 class="fw-bold border-bottom pb-3 mb-5">Publications</h5>
  {% for paper in site.data.publications.publications %}
  <div class="row g-4 mb-4">
    <div class="col-md-12">
      <!-- Authors formatted with "Popoola, A." automatically bolded -->
      <p>
        {{ paper.authors | replace: "Popoola, A.", "<strong>Popoola, A.</strong>" }}
        ({{ paper.year }}). <strong>{{ paper.title }}</strong>. <span class="text-muted">{{ paper.institution }}</span>.
        <em>{{ paper.journal }}</em>
        {% if paper.doi %} DOI: <a href="{{ paper.doi_link }}" target="_blank">{{ paper.doi }}</a>{% endif %}
        {% if paper.ark %} ARK: <a href="{{ paper.ark_link }}" target="_blank">{{ paper.ark }}</a>{% endif %}.
      </p>
    </div>
  </div>
  {% endfor %}

  <!-- Work In Progress Section -->
  <h5 class="fw-bold border-bottom pb-3 mb-5">Work In Progress</h5>
  {% for work in site.data.publications.work_in_progress %}
  <div class="row g-4 mb-4">
    <div class="col-md-12">
      <p>
        {{ work.authors | replace: "Popoola, A.", "<strong>Popoola, A.</strong>" }} <strong>{{ work.title }}</strong>. <span class="text-muted">{{ work.institution }}</span>.
      </p>
    </div>
  </div>
  {% endfor %}

  <!-- Conference Presentations Section -->
  <h5 class="fw-bold border-bottom pb-3 mb-5">Conference Presentations</h5>
  {% for conference in site.data.publications.presentations %}
  <div class="row g-4 mb-4">
    <div class="col-md-12">
      <p>
        {{ conference.authors | replace: "Popoola, A.", "<strong>Popoola, A.</strong>" }}
        ({{ conference.year }}). <strong>{{ conference.title }}</strong>. {{ conference.conference }}.
        {% if conference.presenter %}<br><em>Presented by: {{ conference.presenter }}</em>{% endif %}
      </p>
    </div>
  </div>
  {% endfor %}

  <!-- Conference Posters Section -->
  <h5 class="fw-bold border-bottom pb-3 mb-5">Conference Posters</h5>
  {% for conference in site.data.publications.posters %}
  <div class="row g-4 mb-4">
    <div class="col-md-12">
      <p>
        {{ conference.authors | replace: "Popoola, A.", "<strong>Popoola, A.</strong>" }}
        ({{ conference.year }}). <strong>{{ conference.title }}</strong>. {{ conference.conference }}.
        {% if conference.presenter %}<br><em>Presented by: {{ conference.presenter }}</em>{% endif %}
      </p>
    </div>
  </div>
  {% endfor %}

</div>